body {
    background-color: #F1FFFA;
    text-align: center;
    margin: 0;
    color: black;
    font-family: sans-serif;
}

input {
    border-radius: 4px;
    padding: 5px 20px;
    margin: 8px 5px;
}

button {
    border-radius: 4px;
}

/* sections */
main {
    padding-left: 20px;
    padding-right: 20px;
}

.inputsection {
    text-align: left;
    background-color: #93B7BE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

.submitbtn {
    padding-top: 10px;
    text-align: right;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
  }

th, td {
    border: 1px solid black;
}

thead {
    background-color: #785964;
    font-weight: bold;
    height: 50px;
    color: white;
}

tbody {
    background-color: white;
}

td {
    text-align: center;
    padding: 5px 20px;
}

/* headers */
h1 {
    background-color: #785964;
    padding: 20px;
    margin: 0;
    color: white;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 17px;
}

tr:nth-child(even) {background: #D5C7BC}
tr:nth-child(odd) {background: white}
tr:nth-child(1) {
background:none;}